body{
    margin: 0;
    padding: 0;
    background: rgb(157, 157, 164);
    font-family: sans-serif;
}

.container{
    width: 100%;
    text-align: center;
    margin-top: 100px;

}

#title{
    text-align: center;
    font-size: 55px;
}

#inputText{
    width: 287px;
    height: 45px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 3px solid red;
    border-radius: 18px;
}

#addToDo{
    height: 45px;
    width: 81px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#addToDo:active{
    color: #fff;
    background: black;
}

#clearToDo{
    height: 45px;
    width: 108px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#clearToDo:active{
    color: white;
    background: purple;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    color: white;
    text-transform: capitalize;
}

.to-do{
    margin-top: 25px;
}